In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
data=pd.read_csv('./auto-mpg.csv',sep=',')
data.head()

data=data.replace('?', 0)

In [5]:
data.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model year      False
origin          False
car name        False
dtype: bool

In [7]:
data.shape

(398, 9)

In [8]:
len(data['car name'].unique())

305

In [9]:
data.fillna(value=0, inplace = True)

In [10]:
le = LabelEncoder() 
data['car name']= le.fit_transform(data['car name'])

In [11]:
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,49
1,15.0,8,350.0,165,3693,11.5,70,1,36
2,18.0,8,318.0,150,3436,11.0,70,1,231
3,16.0,8,304.0,150,3433,12.0,70,1,14
4,17.0,8,302.0,140,3449,10.5,70,1,161
5,15.0,8,429.0,198,4341,10.0,70,1,141
6,14.0,8,454.0,220,4354,9.0,70,1,54
7,14.0,8,440.0,215,4312,8.5,70,1,223
8,14.0,8,455.0,225,4425,10.0,70,1,241
9,15.0,8,390.0,190,3850,8.5,70,1,1

In [15]:
 from sklearn.model_selection import train_test_split
X=data.iloc[:,1:9]

Y=data.iloc[:,0]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [17]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
model=reg.fit(X_train,y_train)

In [19]:
y_pred=model.predict(X_test)
print(y_pred)

[32.7083747  29.63767054 20.81172826 17.40139867 13.00195628 27.55224633
 27.87750574  9.69892818 17.23967527 23.13980023 12.37780436 35.9850778
 25.56729488 13.2219667  23.59845539  6.38820936 30.02227766 24.24270621
 17.01226034 36.19172233 24.22124281 19.40579242 28.84837879 28.60901033
 14.68316405 35.28978341 25.26577424 25.45424544 21.38174959  8.83424955
 28.46390767 35.42822746 20.17649716 26.43237764 33.68259252 12.76652633
 23.24679275 21.5349144  12.81711346 26.06024407 26.63136275 27.97348758
 20.73342596  7.48161534 24.90790449 34.95148243 26.50273645 24.64065102
 22.95417524 28.07378182 22.31863677 33.52168048 32.48719866 10.85470725
 27.36607915 10.63796016 19.60407243 30.19884022 22.84578247 20.94018068
 16.7098166  31.93894221 24.08015478 20.66901619 21.3460311  25.85852855
 25.40781919 32.32677355 27.73654098 12.35957502 31.63126634 12.54698986
 10.26775348 18.88402875 26.94301972 22.51716056 20.15445369 29.10496025
 29.86319585 19.7560799 ]

<h4> RMSE </h4>

In [21]:
from sklearn.metrics import mean_squared_error
rmse=mean_squared_error(y_test, y_pred)
print('RMSE:',rmse)

RMSE: 8.26513178671841